
/* i */
.nav-pills{
  font-size:1.7em;
  background-color:black;
  margin-bottom:10%;
}

body{
  background-color:black;

  color:white;
}

h1{
  padding:0;
  margin-top:0px;
  font-size:5.0em;
  padding-top:0%;
}

.btn-default{
  background-color:black;
  border-color:black;
  color:#337ab7;
  font-size:1.7em;
  margin-top:1%;
}

.pageOne{
background:url("https://s20.postimg.org/eo06lvwjx/USA-_California-_San-_Francisco-_Skyline-_Windigo-2013-_IMG1336-_Lg-_RGB.jpg");
 background-size:cover;
padding-bottom:10%;
}

.pageTwo{
 background:url("https://s20.postimg.org/vkp9ep9d9/startup-593334.jpg");
  background-size:cover;
 padding-bottom:10%;
  padding-top:5%;
}

.pad{
  margin-top: 20px;
  padding-top: 60px;
}
.pageThree{
  background:url("https://s20.postimg.org/mje29hahp/Bing_Wallpaper-2017-07-12.jpg");


}

p{
  font-size:2.2em;
}
.pItems {
  height: 250px;
  boder-radius:50%;
}

.paddingBTN{
/*   padding-top:25%;
  padding-bottom:25%; */
   width:200px;
  margin-bottom:25px;
}

.paddingTop{
 padding-top:2%;
 padding-bottom:2%;
}
.me{
   margin-right:auto;
  margin-left:auto;
  border-radius:10px;
  width:50%;
  padding-left:auto;
}
.larger-image {
    width: 500px;
  }
h1{
  font-size: 70px;
}
.medium-image {
  width:800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-down: auto;
  display: block;
  padding:(30px 30px 30px 30px);
  opacity: 200%;
  width:50%;
  border-radius:4%;
}
